
p {
  font-family:courier; 
  font-size:20px; }


#indent {
  text-indent: 50px;
}




.pic {
   display: block;
    margin-left: auto;
    margin-right: auto;
}


li {
    display:inline;
    
}

ul {
    border-style:solid;
    border-color:black;
    background-color:grey;
    margin: 0;
    padding: 0; 
    text-align:center;
    

}

li a {

    color:black;
    text-align:center;
    font-weight:600;
    font-family:courier;
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}